<div id="<%= dom_id friend %>">
  <div class="jumbotron">
    <h1 class="display-4"><%= friend.first_name %> <%= friend.last_name %></h1>
    <p class="lead"><%= friend.email %></p>
    <hr class="my-4">
    <p>Ph: <%= friend.phone %></p>
    <p>Twitter: <%= friend.twitter %></p>
<!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  </div>
<!--  <p>-->
<!--    <strong>First name:</strong>-->
    <%#= friend.first_name %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Last name:</strong>-->
    <%#= friend.last_name %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Email:</strong>-->
    <%#= friend.email %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Phone:</strong>-->
    <%#= friend.phone %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Twitter:</strong>-->
    <%#= friend.twitter %>
<!--  </p>-->

</div>
