<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :number, class:"form-control", placeholder:"Number" %>
  </div>

  <div>
    <%= form.text_field :street, class:"form-control", placeholder:"Street" %>
  </div>

  <div>
    <%= form.text_field :suburb, class:"form-control", placeholder:"Suburb" %>
  </div>

  <div>
    <%= form.text_field :city, class:"form-control", placeholder:"City" %>
  </div>

  <div>
    <%= form.text_field :state, class:"form-control", placeholder:"State" %>
  </div>

  <div>
    <%= form.text_field :postcode, class:"form-control", placeholder:"Postcode" %>
  </div>

  <div>
    <%= form.text_field :country, class:"form-control", placeholder:"Country" %>
  </div>

  <div>
    <%= form.text_field :address_type, class:"form-control", placeholder:"Type" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
